---
import Layout from '../layouts/Layout.astro';
import SerieCard from '../components/SerieCard.astro';
import FilterForm from '../components/FilterForm.astro';
import { getSeries } from '../lib/endpoints-manager.ts';

const series = await getSeries();
const categories = Array.from(new Set(series.map(serie => serie.category)));
const streamingServices = Array.from(new Set(series.map(serie => serie.streaming_service)));

const url = new URL(Astro.url)
const selectedCategory = url.searchParams.get('category') || 'All';
const minStars = parseFloat(url.searchParams.get('minStars')) || 0;
const selectedService = url.searchParams.get('streaming_service') || 'All';

const filteredSeries = series.filter(serie => 
  (selectedCategory === 'All' || serie.category === selectedCategory) &&
  (serie.stars >= minStars) &&
  (selectedService === 'All' || serie.streaming_service === selectedService)
);
---
<Layout title="Recomendaciones Chidas">
	<main>
		<FilterForm 
		categories={categories} 
		selectedCategory={selectedCategory} 
		minStars={minStars}
		streamingServices={streamingServices}
		selectedService={selectedService}
	  />
		<div class="link-card-grid">
			{filteredSeries.map(serie => (
				<SerieCard
					title={serie.name}
					stars={serie.stars}
					image={serie.image}
					id={serie.id}
				/>
			))}
		</div>
	</main>
</Layout>

<style>
	@import '../styles/index.css';
</style>